# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pyc
*.pyo

nohup.out
.DS_Store
*.npy
*.csv


data/
experiments/base_model/*.log
experiments/base_model/**.tar
experiments/base_model/epoch_**.tar
