[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.14.3"
pandas = ">=0.23.0"
scipy = ">=1.1.0"
torch = ">=0.4.1"
tqdm = ">=4.26.0"
matplotlib = ">=2.2.2"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "*"
